doctype html

html
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
  head
    title Space Joust - Wilfred James Godfrey
    link(rel="stylesheet" type="text/css" href="/css/nav.css")
    link(rel="stylesheet" type="text/css" href="./css/index.css")
  body

    #wg-nav-app

    script(src='/js/angular.js')
    script(src='/js/angular-sanitize.js')
    script(src='/js/analytics.js')
    script(src='/js/nav.js')
    script(src='./js/canvasquery.js')
    script(src='./js/canvasquery.framework.js')
    script(src='./js/index.js')