doctype html

html
  head
    title Space Joust - Wilfred James Godfrey
    link(rel="stylesheet" type="text/css" href="./css/index.css")
  body
    a(href="./").page-link.top Play
    .content
      h1 SPACE JOUST
      h2 Instructions

      p Welcome to <strong>SPACE JOUST</strong>. It should really be called <strong>FLAPPY SUMO BATTLE</strong>, but I haven't gotten around to changing the name yet.

      p Anyway, welcome.

      p <strong>SPACE JOUST</strong> is a same-keyboard multiplayer game, so you'll need a physical friend to play. This is solely because
      ol
        li The developer (<a href="http://twitter.com/wjagodfrey" target="_blank">@wjagodfrey</a>) has fond memories of playing Gun Star Heros and Golden Axe with his big brother and having a tantrum when he couldn't win.
        li The developer doesn't have time/ is too lazy to add A.I. or online multiplayer. Really, it's a miracle this game exists at all.

      p The goal in <strong>SPACE JOUST</strong> is to remove all of your enemy's respawn juice.
        img(src="./img/respawn_juice.png" title="respawn juice")

      p Every time a player dies and respawns they lose a little bit of respawn juice.

      p So to win, you have to kill your opponent. You can do this in a couple of different ways:
      
      p
        h3 Bombs
        | Bombs come in four different flavours, depending on the directions they bounce in.
        | These are up and down, left and right, all at once, or not at all.
        img(src="./img/basic_bomb.gif" title="bomb gif")
      p
        h3 Lazors
        | Lasers fry people and set off bombs. They can be turned on by
        ol
          li stepping on buttons
          li bombs bouncing off buttons
        img(src="./img/basic_laser.gif" title="laser gif")

      p
        h3 Getting Pushed Into The Lava
        p Yes! This really is a game about flappy sumo wrestlers where the ground is lava and there are bombs everywhere.
        p This introduces the sumo aspect of the game as well. Just bounce into someone to set them sliding off their ledge and into the lava.
        p Want to really hurry things along? Butt slap them from above! The sound alone is so satisfying.
        img(src="./img/basic_lava.gif" title="lava gif")

      h2 Items
      p
        h3 No Wings
        p Stops your opponents from flapping for a short while.
          img(src="./img/no_wings.gif" title="no wings gif")

        h3 Add Life
        p Gives you some more respawn juice.
          img(src="./img/add_life.gif" title="add life gif")

        h3 Bombs
        p Gives you a bomb to drop. The lines on the bomb indicate the direction it will bounce in.
        p A bomb arms only when you move away from it.
          img(src="./img/bomb.gif" title="bomb gif")


      h2 Controls

      p
        strong M
        |  - mute in-game music

      h3 Red Player
      p
        strong W
        |  - flap (keep pressing it!)
        br
        strong S
        |  - dive (butt slap your opponent!)
        br
        strong A
        |  - left
        br
        strong D
        |  - right
        br
        strong G
        |  - drop ze bombs

      h3 Blue Player
      p
        strong ⬆
        |  - flap (keep pressing it!)
        br
        strong ⬇
        |  - dive (butt slap your opponent!)
        br
        strong ⬅
        |  - left
        br
        strong ➡
        |  - right
        br
        strong .
        |  - drop ze bombs

      a(href="./").page-link.bottom Play SPACE JOUST
    script(src="/analytics.js")


